	h1 {color:red; font-size:33px;}
    p {color:yellow; font-size:13;}
    .y {color:white; font-size:13}
    .y {background-color:blue;}
	p.x {color:green;font size 20}
	alt{color:pink; font size 20}
	body{background-color:black;} 